.button {
  border: none;
  background-color: var(--color-secondary);
  padding: 10px;
  text-transform: capitalize;
  border-radius: 8px;
}

.button:hover {
  background-color: var(--color-secondary);
}
