@import "components/CharacterCard/CharacterCard.css";
@import "components/SearchBar/SearchBar.css";
@import "components/NavButton/NavButton.css";
@import "components/NavPagination/NavPagination.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --border-radius: 8px;
  --color-primary: rgb(53, 53, 53);
  --color-secondary: #d5d5d5;
  --color-3: #ebbfbf;
  --color-background: #aa5d5d;
  --font-family: system-ui;
}

body {
  font-family: var(--font-family);
  color: var(--color-primary);
  background-color: var(--color-background);
  padding: 20px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

#title-image {
  width: 300px;
  align-self: center;
}

nav {
  align-self: center;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: white;
}


.no-result {
  align-self: center;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: white;
}