@import "components/CharacterCard/CharacterCard.css";
@import "components/SearchBar/SearchBar.css";
@import "components/NavButton/NavButton.css";
@import "components/NavPagination/NavPagination.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: rgb(58, 58, 58);
  --color-secondary: #dddddd;
  --color-background: #2c2c2c;
  --font-family: system-ui;
}

body {
  font-family: var(--font-family);
  color: var(--color-primary);
  background-color: var(--color-background);
  padding: 20px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  align-self: center;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: white;
}

.title {
  padding: 10px 0;
  color: white;
}
